<section class="container">

<!-- (ngSubmit) é um event binding que se comunica com o componente ts -->
<form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario_titulo">Nova Transferência</h2>

    <div class="form-field">
      <label class="form-field_label" for="valor">Valor</label>
      <!-- [(ngModel)] é um two-way data binding com as propriedades do componente -->
      <input class="form-field_input" name="valor" id="valor" type="number" [(ngModel)]="valor">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="destino">Destino</label>
      <input class="form-field_input" name="destino" id="valor" type="text" [(ngModel)]="destino">
    </div>

    <div class="botao-wrapper">
    <button class="botao" type="submit">Transferir</button>
  </div>
  </form>
</section>
